
<nav class="dropdown">
  <div class="container">
    <a>
      {{'Sitetitle' | translate }}
    </a>
    <span>
      <select #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  </div>
</nav>

<div class="container1">
  <form class="form">
    <div class="input">
      <label>{{'Name' | translate}}</label>
      <input type="text">
      <small class="text-danger">{{'NameError' | translate}}</small>
    </div>

    <div class="input">
      <label>{{'Email' | translate}}</label>
      <input type="email">
    </div>

    <div class="input">
      <label>{{'PhoneNo' | translate}}</label>
      <input type="tel">
    </div>

    <div class="input">
      <label>{{'Password' | translate}}</label>
      <input type="password">
    </div>

    <div class="input">
      <label>{{'Bio' | translate}}</label>
      <textarea rows="3"></textarea>
    </div>

    <div class="input">
      <input type="checkbox" class="form-check-input">
      <label class="form-check-label">{{'TermsConditions' | translate}}</label>
    </div>
    <button type="submit">{{'Submit' | translate}}</button>
  </form>
</div>