<div class="container1">
  <form>
    <div class="input">
      <label style="margin-left: 20px;">{{'Name' | translate}}</label>
      <input type="text">
      <small style="color: red; margin-left: 20px; margin-bottom: 25px;">{{'NameError' | translate}}</small>
    </div>

    <div class="input">
      <label style="margin-left: 20px;">{{'Email' | translate}}</label>
      <input type="email">
    </div>

    <div class="input">
      <label style="margin-left: 20px;">{{'PhoneNo' | translate}}</label>
      <input type="tel">
    </div>

    <div class="input">
      <label style="margin-left: 20px;">{{'Password' | translate}}</label>
      <input type="password">
    </div>

    <div style="display: flex ; flex-direction: column;">
      <label style="margin-left: 20px;">{{'Bio' | translate}}</label>
      <textarea style="width: 183px; margin-left: 20px;" rows="3"></textarea>
    </div>

    <div style="display: flex ; flex-direction: row;">
      <input type="checkbox">
      <label style="margin-top: 18px;">{{'TermsConditions' | translate}}</label>
    </div>
    <button type="submit">{{'Submit' | translate}}</button>
  </form>
</div>