.container1 {
    display: flex;
    padding: 30px;
    font-size: 20px;
    button {
        background-color: #4caf50;
        color: white;
        padding: 5px;
        width: 50%;
        font-size: 18px;
        border: none;
        cursor: pointer;
        margin-left: 20px;
    }
    input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        margin: 20px;
    }
}
