.container1{
    display: flex;
    padding: 30px;
    height: 600px;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        button{
            font-size: 19px;
            font-weight: 600;
            margin: 20px;
        }
    }
    input{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        margin: 10px;
    }
}